<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans> <!--  deafult-init-method and default-destroy-method are global(beans) level for all bean -->
    <bean id ="triangle" class="com.java.callbacks.withbeans.Triangle" autowire="byName" init-method="myInit" destroy-method="cleanUp">
                                           <!--  init-method="myInit" destroy-method="cleanUp" => this is a bean level -->
    </bean>
    
    <bean id="pointA" class="com.java.callbacks.withbeans.Point">
        <property name="x" value="0"></property>
        <property name="y" value="0"></property>
    </bean>
    
    <bean id="pointB" class="com.java.callbacks.withbeans.Point">
        <property name="x" value="20"></property>
        <property name="y" value="0"></property>
    </bean>
    
    <bean id="pointC" class="com.java.callbacks.withbeans.Point">
        <property name="x" value="0"></property>
        <property name="y" value="20"></property>
    </bean>
    
</beans>