<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
		>

    <aop:aspectj-autoproxy />
    
	<bean name="triangle" class="com.spring.aop.model.Triangle">
	    <property name="name" value="Triangle name"></property>
	</bean>
	
	<bean name="circle" class="com.spring.aop.model.Circle">
	    <!-- <property name="name" value="Circle name"></property> -->
	</bean>
	
	<bean name="shapeService" class="com.spring.aop.service.ShapeService" autowire="byName"/>
	
	<bean name="LoggingAspect" class="com.spring.aop.aspect.LoggingAspect" />
	
 <aop:config>
	    <aop:aspect id="loggingAspect" ref="LoggingAspect">
	        <aop:pointcut expression="execution(* get*())" id="allGetters"/>
	        <aop:around method="myAroundAdvice" pointcut-ref="allGetters"/>
	    </aop:aspect>
	</aop:config>  <!-- it is an AOP XML configuration instead of annotation, XML AOP we can use-->
	
</beans>